<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalidaMateriales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SalidaMateriales.Properties.Settings>
            <setting name="VersionSistema" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ServidorSQLMaestroEntidades" serializeAs="String">
                <value>MOLINO61\CULTIVODES</value>
            </setting>
            <setting name="ServidorSQLCentral" serializeAs="String">
                <value>MOLINO61\CULTIVODES</value>
            </setting>
            <setting name="RutaProgramaAcceso" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivilegioAccesoMenu" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="PrivilegioAccesoFuncionalidad" serializeAs="String">
                <value />
            </setting>
            <setting name="Perfil" serializeAs="String">
                <value>perfil</value>
            </setting>
            <setting name="NombreCorto" serializeAs="String">
                <value />
            </setting>
            <setting name="Nombre" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value>vvalenzuela</value>
            </setting>
            <setting name="IDSistema" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="IDPerfil" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorFondoSinFoco" serializeAs="String">
                <value>224, 230, 231</value>
            </setting>
            <setting name="ColorFondoConFoco" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Cargo" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseSQLMaestroEntidades" serializeAs="String">
                <value>MaestroEntidades</value>
            </setting>
            <setting name="BaseSQLCentral" serializeAs="String">
                <value>Materiales_Prueba</value>
            </setting>
            <setting name="BaseDeDatosCentral" serializeAs="String">
                <value>Materiales_Prueba</value>
            </setting>
        </SalidaMateriales.Properties.Settings>
    </userSettings>
</configuration>